<h1>プロフィール</h1>
<p>名前：<%= @user.username %></p>
<p>年齢：<%= @user.age %></p>
<p>性別：<%= @user.gender %></p>
<p>身長：<%= @user.height %></p>
<p>現在体重：<%= @user.weight %></p>
<p>目標体重：<%= @user.target_weight %></p>
<p>目標体脂肪：<%= @user.target_body %></p>
<p>プロフィール : <%= @user.profile %></p>

<div class="form-group my-5">
  <%= link_to "トップページ", root_path, class: 'btn btn-info btn-block mb-4' %>
</div>